.card {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  background: #f8f8f8;
  transition: all 0.1s ease-in-out;
  display: inline-block;
  background: black;
}

.card:hover{
  box-shadow: 0.25rem 0.25rem black;
  translate: -0.25rem -0.25rem;
}

.card > img{
  border-radius: 1rem;
  transition: all 0.1s ease-in-out;
  border: 0.1rem solid black;

}



.card > h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  
}

.bup{
  border-radius: 0.50rem;
  margin-bottom: 0.25rem;
  padding: 4px;
  border: 1px solid;
  margin-right: 5px;

}

.bdo{
  border-radius: 0.50rem;
  margin-bottom: 0.25rem;
  padding: 4px;
  border: 1px solid;
}